.application-header {
  background-color: $th-red;
  width: 100%;
  height: 90px;
  padding: 0;
  border-top: 2px solid $th-navy;
  border-bottom: 4px solid $th-navy;
  position: relative;
  box-shadow: inset 0px 0px 100px -90px $th-navy;
  box-sizing: border-box;
  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid $th-yellow;
    box-shadow: 0px 1px 20px 0px $th-navy;
  }
}

.header-wordmark {
  position: absolute;
  left: 9%;
  top: 0;
  bottom: 0;
  right: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  height: 100%;
  width: 45%;
  &>h1 {
    // color: $th-navy;
    // text-shadow:
    //   -1px 0px 0px $th-yellow,
    //   0 1px 0px $th-yellow,
    //   1px 0 0px $th-yellow,
    //   1px 1px 1px $th-yellow;
    // paint-order: stroke fill;
    width: 65%;
    font-size: 60px;
    padding: 0;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    transition: all .1s ease-in-out;
    & a {
      color: $th-navy;
      text-decoration: none;
    }
    &:hover {
      transform: scale(1.02);
      text-shadow: 0 0 5px $th-white-shadow;
    }
  }
  &>p {
    width: 35%;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    color: $th-navy;
    opacity: 1;
    padding: 0;
    margin: 0;
    text-align: left;
    vertical-align: middle;
  }
}

#gg-overlay {
  height: 99%;
  width: 11.5%;
  position: absolute;
  right: auto;
  left: -12px;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.2;
}

#uss-overlay {
  height: 99%;
  width: 10%;
  position: absolute;
  left: auto;
  right: 2px;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.15;
}

#header-buttons {
  position: absolute;
  display: flex;
  right: auto;
  top: auto;
  bottom: 2%;
  left: 58%;
  height: 55%;
  width: 17%;
  align-items: center;
  justify-content: space-between;
  &>i>a {
    text-decoration: none;
    color: $th-navy;
    transition: all .1s ease-in-out;
    font-size: 25px;
    &:hover, .selected {
      font-size: 26px;
      // transform: scale(1.02);
      text-shadow: 0 0 5px $th-white-shadow;
    }
  }
}

#header-menu-trigger {
  position: absolute;
  font-family: 'TH-Icons';
  height: 70%;
  width: 50px;
  top: auto;
  bottom: 0;
  left: auto;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &>i {
    position: absolute;
    right: 0;
    font-size: 50px;
    color: $th-navy;
    float: right;
    transition: all .1s ease-in-out;
  }
  &>ul { visibility: hidden; }
  &:hover{
    width: 150px;
    &>i { font-size: 52px; text-shadow: 0 0 5px $th-white-shadow; }
    &>ul { visibility: visible; }
  }
}

#nav-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  bottom: auto;
  list-style: none;
  padding: 0 2%;
  margin: 0;
  width: 100%;
  height: 250%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  background-color: $th-red;
  border: 3px solid $th-navy;
  box-shadow: 10px 10px 20px -10px $th-navy, -10px 10px 20px -10px $th-navy;
}