#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.my-projects {
  width: 90%;
  height: 90%;
  background-color: $th-navy-opaque;
  box-shadow: 0 0 5px $th-navy;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &>p {
    height: 5%;
    width: 100%;
    color: $th-navy;
    text-align: center;
    font-size: 16px;
    padding: 0.5% 0;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    opacity: 0.9;
  }
}

.project-pane {
  position: relative;
  width: 100%;
  height: 95%;
  box-sizing: border-box;
}

.selected-project {
  position: absolute;
  right: 0;
  top: auto;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 90%;
  border-top: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  transition: all .1s ease-in-out;
  overflow: hidden;
}

.project-assets {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: -5%;
  &>div.project-links {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    &>a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 60%;
      border-radius: 5px;
      background-color: $th-red;
      cursor: pointer;
      transition: all .1s ease-in-out;
      outline: none;
      font-size: 16px;
      text-decoration: none;
      font-weight: 700;
      margin: 0;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &>img {
    max-height: 80%;
    margin-right: 5%;
    max-width: 80%;
    border-radius: 10px;
    border: 1px solid $th-navy;
    box-shadow: 0 0 5px $th-white-opaque;
  }
}

.project-description {
  width: 100%;
  height: 50%;
  padding: 2%;
  overflow-y: scroll;
}

.project-selectors {
  position: absolute;
  right: 0;
  top: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 5%;
  display: flex;
  &>.project-selector {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33.33%;
    height: 100%;
    padding: 1%;
    transition: all .2s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    filter: grayscale(0.9);
    opacity: 0.8;
    &>img {
      max-height: 100%;
      max-width: 20%;
    }
    &>p {
      width: 75%;
      margin-left: 2%;
      font-size: 16px;
      overflow-x: scroll;
    }
    &.active {
      filter: grayscale(0);
      opacity: 1;
      cursor: auto;
      border-bottom: none;
      & * { transform: scale(1.1); }
    }
  }
}

.technologies-pane {
  display: none;
}

.site-about {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  width: 100%;
  height: 5%;
  padding: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // border: 2px solid $th-navy;
  border-top: none;
  background-color: $th-navy-opaque;
  &>p {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: $th-navy;
    font-style: italic;
    opacity: 0.9;
    overflow-x: scroll;
    font-family: 'Permanent Marker', cursive;
    &>a {
      text-decoration: none;
      padding-left: 3px;
      font-weight: 900;
      color: inherit;
      transition: all .1s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}